.mainSectionRecentDiv{
    width: 25%;
}

.mainSectionRecentDiv h3{
    text-align: right;
}

.recentsDiv{
    padding: 8px 8px;
    margin: 2vh auto;
}

.recentsDiv:hover{
    background-color: rgba(224, 224, 224, 0.562);
    border-radius: 10px;
    cursor: pointer;
}

.recentBoardName{
    font-size: .9em;
    font-weight: bold;
}

.recentBoardDescription{
    font-size: .7em;
    color: grey;
    margin-left: .5em;
    margin-top: .5vh;
}