.mainSectionBoards{
    width: 75%;
}

.mainSectionBoardsRecentlyViewedHeadingDiv{
    display: flex;
}

.mainSectionBoardsRecentlyViewedHeadingDiv h4{
    margin-left: 1em;
}

.mainSectionBoardsRecentlyViewedBoards{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

.mainSectionYourWorkspacesHeading{
    color: grey;
    margin-top: 6vh;
}

.boardFromWorkspace{
    margin-top: 2vh;
}

.mainSectionYourBoard{
    font-size: .8em;
    border-radius: 5px;
    width: 20%;
    padding: 20px 20px;
    margin-top: 2vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.mainSectionBoardsDivs{
    display: flex;
}

.mainSectionBoardsDivs > div{
    margin-left: 1em;
}