.boardDiv{
    min-height: 100vh;
}

.boardHeading{
    margin-top: 1vh;
    display: flex;
}

.boardBoardName{
    margin-left: 2em;
    color: ivory;
    font-size: .95em;
}

.boardUserName{
    margin-left: 2em;
    color: ivory;
    font-size: .95em;
}