.boardHeadingBOARD{
    margin-top: 1vh;
    display: flex;
}

.boardNameBOARD{
    margin-left: 2em;
    color: ivory;
    font-size: .95em;
}

.boardUserNameBOARD{
    margin-left: 2em;
    color: ivory;
    font-size: .95em;
}

.boardAllColumnsDivBOARD{
    display: flex;
    align-items: flex-start;
    margin-top: 2vh;
    padding-left: 1em;
    padding-right: 1em;
    overflow: auto;
    min-height: 89vh;
}