.taskDiv{
    background-color: white;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5vh;
    border-radius: 5px;
    -webkit-box-shadow: -4px 8px 15px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: -4px 8px 15px -11px rgba(66, 68, 90, 1);
    box-shadow: -4px 8px 15px -11px rgba(66, 68, 90, 1);
    padding: 2px 2px;
}

.taskDiv:hover{
    background-color: rgba(179, 179, 179, 0.329);
}

.taskDiv i{
    position: absolute;
    z-index: 999;
    top: 8px;
    right: 8px;
}

.taskDivIndicator{
    position: absolute;
    top: 6px;
    left: 4px;
    width: 40px;
    border-radius: 5px;
    height: .8vh;
}

.taskName{
    padding: 12px 8px;
    margin-top: .5vh;
}