.navSearchBarDiv{
    position: absolute;
    right: 8%;
}

.navSearchInput{
    padding: 8px 8px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    width: 260px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.navSearchInput::placeholder{
    color: ivory;
}

#navSearchIcon{
    position: absolute;
    right: 12px;
    top: 12px;
}

.searchHints{
    padding: 8px 8px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    width: 260px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 45px;
    z-index: 9999;
    color: black;
    font-weight: bold;
    font-size: .9em;
    display: flex;
    flex-direction: column;
}

.searchHint{
    padding: 8px 8px;
}

.searchingLink{
    text-decoration: none;
    color: black;
    padding: 8px 8px;
}

.searchHintDiv{
    width: 200px;
}

.searchHintDiv:hover{
    background: rgba(194, 194, 194, 0.496);
}

.searchHintColorDiv{
    width: 25px;
    height: 25px;
}